body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(246, 252, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.param-table {
  margin: auto;
  text-align: left;
  border-collapse: collapse;
}
.param-table td {
  border: 1px solid gray;
}

.button {
  font-size: 1.3em;
  padding: 0.3em 0.5em;
  border-radius: 7px;
  background-color: black;
  color: aliceblue;
  font-weight: bold;
  transition: 0.3s ease-in-out background-color;
}

.button:hover {
  background-color: gray;
}